@font-face {
    font-family: 'CocogoosePro';
    src: url('./fonts/police_nom/CocogoosePro-Italic.eot');
    src: url('./fonts/police_nom/CocogoosePro-Italic.eot') format('embedded-opentype'),
        url('./fonts/police_nom/CocogoosePro-Italic.woff2') format('woff2'),
        url('./fonts/police_nom/CocogoosePro-Italic.woff') format('woff'),
        url('./fonts/police_nom/CocogoosePro-Italic.ttf') format('truetype'),
        url('./fonts/police_nom/CocogoosePro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaviarDreams';
    src: url('./fonts/h2/CaviarDreams.eot');
    src: url('./fonts/h2/CaviarDreams.eot') format('embedded-opentype'),
        url('./fonts/h2/CaviarDreams.woff2') format('woff2'),
        url('./fonts/h2/CaviarDreams.woff') format('woff'),
        url('./fonts/h2/CaviarDreams.ttf') format('truetype'),
        url('./fonts/h2/CaviarDreams.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ChampagneLimousines';
    src: url('./fonts/h3/ChampagneLimousines.eot');
    src: url('./fonts/h3/ChampagneLimousines.eot') format('embedded-opentype'),
        url('./fonts/h3/ChampagneLimousines.woff2') format('woff2'),
        url('./fonts/h3/ChampagneLimousines.woff') format('woff'),
        url('./fonts/h3/ChampagneLimousines.ttf') format('truetype'),
        url('./fonts/h3/ChampagneLimousines.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('./fonts/h4/Philosopher.eot');
    src: url('./fonts/h4/Philosopher.eot') format('embedded-opentype'),
        url('./fonts/h4/Philosopher.woff2') format('woff2'),
        url('./fonts/h4/Philosopher.woff') format('woff'),
        url('./fonts/h4/Philosopher.ttf') format('truetype'),
        url('./fonts/h4/Philosopher.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
    background-color: #0b171d;
    margin-right: 10%;
    margin-left: 10%;
    
}
body p
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0.5%;
}
#corps
{
 width: 95%;
 

}
/*cote*/
#cote
{
    display: flex;
    flex-direction: column;
    border: white 2px solid;
    margin-right: 3%;
    width: 70px;
    height: 150px;
    box-shadow: white 5px 5px 15px 5px ;
    margin-left: 1%;
    position: fixed;
    top: 27%;
    left: 0.5%;
    
}
#cote a
{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 25% ;
    text-decoration: none;
}


/*title*/
h1
{
    color: white;
    text-align: center;
    font-family: 'CocogoosePro';
    font-size: 40px;
}
h2
{
    color: white;
    text-align: center;
    font-family: 'CaviarDreams';
    font-size: 30px;
}
/*hautgauche*/
p
{
    color: white;
    text-align: justify;
}
.poste
{
    display: flex;
    flex-direction: row;
}

.date
{
    background-color: none;
    margin-right: 2%;
    animation-name: glissement;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes glissement {

    from{
        background-color: none;
        transform: scaleX(0);
    }
    to{
        background-color: #39888f;
        transform: scale(1);
    }
}

h3
{
    color: #39888f;
    text-align: center;
    font-family: 'ChampagneLimousines';
    font-size: 30px;
    
    
}
h4
{
    color: #7A8284;
    font-family: 'Philosopher';
}
.entreprise1
{
    display: flex;
    flex-direction: column;
}
.details p
{
    margin-left: 20%;
    margin-right: 17%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*haut*/
#haut
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30%;
    padding: 2%;
    box-shadow: white 5px 5px 15px 5px ;
}
#hautgauche, #hautcentre, #hautdroit
{
    width: 33%;
}

/*haut centre*/
#hautcentre img
{
    width: 30%;
    border-radius: 50% ;
    background-color: white;
    margin-left: 35%;
}
#hautcentre p
{
    margin-left: 10%;
    margin-right: 10%;
}
/*hautdroite*/
#coordonnees
 {
     display: flex;
     flex-direction:column ;
     border-bottom: white 2px solid;
     margin-left: 20%;

 }
     
#coordonnees i
{ 
    color: white;
    margin-right: 5%;

}
#adresse
{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
#mail a
{
    color: white;
    text-decoration: none;
}
#mail 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;
}
#tel a
{
    color: white;
    text-decoration: none;
}
#tel
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 8%;
}
#reseau
{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: center;
    
}
#reseau a
{
   
    color: white;
    margin-left: 20%;
}
a :hover
{
    color: #39888f;
}
.tel1 :hover
{
    color :#39888f;
}
.mail1 :hover
{
    color:#39888f;
}

/*centre*/
#centre img
{
    border-radius: none;
    width: 70%;
   position: absolute;
    margin-left: 12%;
    top: 27%; 
    animation-name: apparition;  
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes apparition {
    from
    {
        transform:scale(0);
    }
    to{
        transform:scale(1)
    }
    
}
#centre
{
    margin-bottom: 20px;
}

/*bas*/
#bas
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: white 5px 5px 15px 5px ;
}
/*bas gauche*/
#formation
{
    width: 33%;
}
/* bas centre*/
#atouts
{
    width: 33%;
}
li
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    list-style-type :circle;
    margin-top: 20%;
    font-weight: bold;
}

/*basdroit*/
#competences
{
    width: 33%;
}
#cercle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.cercle1
{
    background:none;
    border-radius:50%;
    width:100px;
    height:100px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    margin-bottom: 10%;
    animation-name: animcercle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}
@keyframes animcercle {
    0%{
        border-top: 10px solid white;
        border-left: 10px solid white;
        border-bottom: 10px solid white;
        border-right: 10px solid white;
        transform: rotate(0deg);   
    }
    25%
    {
        border-top: 10px solid #39888f;  
    }
    50%
    {
        border-left: 10px solid #39888f;
    }
    75%
    {
        border-bottom: 10px solid #39888f;  
    }
    100%
    {
        border-top: 10px solid #39888f;
        border-left: 10px solid #39888f;
        border-bottom: 10px solid #39888f;
        border-right: 10px solid white;
        transform: rotate(-360deg);
    }
    
}
.cercle1 p
{
    text-align: center;
    align-content: center;
    margin-top: 40px;
}
.cercle2
{
    background:none;
    border-radius:50%;
    width:100px;
    height:100px;
    border-top: 10px solid #39888f;
    border-left: 10px solid #39888f;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    margin-bottom: 10%;
    animation-name: animcercle2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}
@keyframes animcercle2 {
    0%{
        border-top: 10px solid white;
        border-left: 10px solid white;
        border-bottom: 10px solid white;
        border-right: 10px solid white;
        transform: rotate(0deg);   
    }
    25%
    {
        border-top: 10px solid #39888f;  
    }
    50%
    {
        border-left: 10px solid #39888f;
    }
    75%
    {
        border-bottom: 10px solid white;  
    }
    100%
    {
        border-top: 10px solid #39888f;
        border-left: 10px solid #39888f;
        border-bottom: 10px solid white;
        border-right: 10px solid white;
        transform: rotate(-360deg);
    }
    
}
.cercle2 p
{
    text-align: center;
    align-content: center;
    margin-top: 40px;
}
/*retour en haut*/
 #retour
 {
     
     position: fixed;
     left: 93%;
     top: 92%;
     scroll-behavior: smooth;
     
     
 }
 #retour a
 {
     color: #39888f;
 }
html
 {
    scroll-behavior: smooth;
 }

  
/*telephone*/
@media (max-width: 480px)
{
   h1
   {
       font-size: 30px;

   }
    .entreprise1
    {
         margin-top: 50px;
    }
  
  #haut
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
        width: 100%;
        
    }

    #cote
    {
        display: flex;
        flex-direction: column;
        border: none;
        margin-right: 2%;
        width: 80px;
        height: 250px;
        box-shadow: none;
        margin-left: -5%;
        position: fixed;
        top: 27%;
        left: 0%;
        
    }
    #cote a
    {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 30px;
    }
    #hautgauche
    {
        display: flex;
        flex-direction: column;
        padding-top: 190%;
        width: 100%;
        margin: auto;
    }
    
    h4 
    {
        text-align: center;
    }
    .entreprise1
    {
        display: flex;
        flex-direction: column;
       
        height:  190px;
        width: 100%;
        
    }
    img
    {
        position: absolute;
        top: 0.5%;
        left: -5%;
    }
    #bas
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
        width: 100%;
    }
    #hautcentre p
    {
        position: absolute;
        top: 5%;
        left: -5%;
        
        
    }
    #coordonnees
    {
        display: flex;
        flex-direction:column ;
        border-bottom: white 2px solid;
        width: 100%;
        margin-left: 1%;

    }
    #reseau
    {
        display: flex;
        flex-direction: row;
        margin-top: 20%;
        justify-content: space-around;
        margin-bottom: 5%;
        width: 250px;
    }
    #reseau a
    {
    
        color: white;

        
    }
    #bas
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
       
    }
    #formation
    { 
        width: 100%;
    }
    #competences
    { 
        width: 100%;
    }
    #atouts
    { 
        width: 100%;
    }
    #hautgauche
    { 
        width: 100%;
    }
    #hautdroit
    { 
        width: 100%;
    }
    
    #test
    {
        display: flex;
        flex-direction: row;


    }
    #cercle
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

}
/*disparition image*/
@media only screen and (max-width: 1181px)
{
  #test1
  {
    display: none;
  }
}
/*tablette*/
@media (min-width: 481px) and (max-width: 767px)
{
    

  
  #haut
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 2%;
      box-shadow: white 5px 5px 15px 5px ;
      width: 100%;
  }
  
  #cote
  {
      display: flex;
      flex-direction: column;
      border: none;
      margin-right: 3%;
      width: 100px;
      height: 150px;
      box-shadow: none;
      margin-left: -3%;
      position: fixed;
      top: 27%;
      left: 0%;
  }
  #cote a
  {
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-top: 50% ;
      text-decoration: none;
  }
  #hautgauche
  {
      display: flex;
      flex-direction: column;
      padding-top: 130%;
      width: 100%;
  }
  #hautdroit
  {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
 
  h4 
  {
      text-align: center;
  }
  .entreprise1
  {
      display: flex;
      flex-direction: column;
      height:  190px;
      width: 100%;
      
  }
  img
  {
      position: absolute;
      top: 0.5%;
      left: -5%;
  }
  #bas
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 2%;
      box-shadow: white 5px 5px 15px 5px ;
      width: 100%;
  }
  #hautcentre p
  {
      position: absolute;
      top: 7%;
      left: -5%;
  }

  #coordonnees
  {
      display: flex;
      flex-direction:column ;
      border-bottom: white 2px solid;
      width: 100%;
      margin: auto;
      
      
  }
  #reseau
  {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      justify-content: space-around;
      margin-bottom: 5%;
     
      
  }
  #reseau a
  {
  
      color: white;
      
  }
  
  #formation
  {
      
      width: 100%;
      
  }
  
  #cercle
  {
      display: flex;
      flex-direction: column;
      width: 100%;
      
  }
  #atouts
  {
   
    width: 100%;
  }
  #competences
  {
    
    width: 100%;
  }
}