@font-face {
    font-family: 'CocogoosePro';
    src: url('./fonts/police_nom/CocogoosePro-Italic.eot');
    src: url('./fonts/police_nom/CocogoosePro-Italic.eot') format('embedded-opentype'),
        url('./fonts/police_nom/CocogoosePro-Italic.woff2') format('woff2'),
        url('./fonts/police_nom/CocogoosePro-Italic.woff') format('woff'),
        url('./fonts/police_nom/CocogoosePro-Italic.ttf') format('truetype'),
        url('./fonts/police_nom/CocogoosePro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CaviarDreams';
    src: url('./fonts/h2/CaviarDreams.eot');
    src: url('./fonts/h2/CaviarDreams.eot') format('embedded-opentype'),
        url('./fonts/h2/CaviarDreams.woff2') format('woff2'),
        url('./fonts/h2/CaviarDreams.woff') format('woff'),
        url('./fonts/h2/CaviarDreams.ttf') format('truetype'),
        url('./fonts/h2/CaviarDreams.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ChampagneLimousines';
    src: url('./fonts/h3/ChampagneLimousines.eot');
    src: url('./fonts/h3/ChampagneLimousines.eot') format('embedded-opentype'),
        url('./fonts/h3/ChampagneLimousines.woff2') format('woff2'),
        url('./fonts/h3/ChampagneLimousines.woff') format('woff'),
        url('./fonts/h3/ChampagneLimousines.ttf') format('truetype'),
        url('./fonts/h3/ChampagneLimousines.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('./fonts/h4/Philosopher.eot');
    src: url('./fonts/h4/Philosopher.eot') format('embedded-opentype'),
        url('./fonts/h4/Philosopher.woff2') format('woff2'),
        url('./fonts/h4/Philosopher.woff') format('woff'),
        url('./fonts/h4/Philosopher.ttf') format('truetype'),
        url('./fonts/h4/Philosopher.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
    background-color: #0b171d;
    margin-right: 10%;
    margin-left: 10%;
    
}
body p
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0.5%;
}
#corps
{
 width: 95%;
 

}
/*cote*/
#cote
{
    display: flex;
    flex-direction: column;
    border: white 2px solid;
    margin-right: 3%;
    width: 100px;
    height: 150px;
    box-shadow: white 5px 5px 15px 5px ;
    margin-left: 1%;
    position: fixed;
    top: 27%;
    left: 0.5%;
}
#cote a
{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 18% ;
    text-decoration: none;
}


/*title*/
h1
{
    color: white;
    text-align: center;
    font-family: 'CocogoosePro';
    font-size: 40px;
}
h2
{
    color: white;
    text-align: center;
    font-family: 'CaviarDreams';
    font-size: 30px;
}
/*hautgauche*/
p
{
    color: white;
    text-align: justify;
}
.poste
{
    display: flex;
    flex-direction: row;
}

.date
{
    margin-right: 2%;
    background-color: #39888f;
}
h3
{
    color: #39888f;
    text-align: center;
    font-family: 'ChampagneLimousines';
    font-size: 30px;
    
    
}
h4
{
    color: #7A8284;
    font-family: 'Philosopher';
}
.entreprise1
{
    display: flex;
    flex-direction: column;
}
.details p
{
    margin-left: 20%;
    margin-right: 17%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*haut*/
#haut
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30%;
    padding: 2%;
    box-shadow: white 5px 5px 15px 5px ;
}
#hautgauche, #hautcentre, #hautdroit
{
    width: 33%;
}

/*haut centre*/
#hautcentre img
{
    width: 30%;
    border-radius: 50% ;
    background-color: white;
    margin-left: 35%;
}
#hautcentre p
{
    margin-left: 10%;
    margin-right: 10%;
}
/*hautdroite*/
#coordonnees
 {
     display: flex;
     flex-direction:column ;
     border-bottom: white 2px solid;
     margin-left: 20%;

 }
     
#coordonnees i
{ 
    color: white;
    margin-right: 5%;

}
#adresse
{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
#mail a
{
    color: white;
    text-decoration: none;
}
#mail 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;
}
#tel a
{
    color: white;
    text-decoration: none;
}
#tel
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 8%;
}
#reseau
{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: center;
    
}
#reseau a
{
   
    color: white;
    margin-left: 20%;
}
a :hover
{
    color: #39888f;
}
.tel1 :hover
{
    color :#39888f;
}
.mail1 :hover
{
    color:#39888f;
}

/*centre*/
#centre img
{
    border-radius: none;
    width: 70%;
   position: absolute;
    margin-left: 12%;
    top: 27%;   
}
#centre
{
    margin-bottom: 20px;
}

/*bas*/
#bas
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: white 5px 5px 15px 5px ;
}
/*bas gauche*/
#formation
{
    width: 33%;
}
/* bas centre*/
#atouts
{
    width: 33%;
}
li
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    list-style-type :circle;
    margin-top: 20%;
    font-weight: bold;
}

/*basdroit*/
#competences
{
    width: 33%;
}
#cercle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.cercle1
{
    background:none;
    border-radius:50%;
    width:100px;
    height:100px;
    border-top: 10px solid #39888f;
    border-left: 10px solid #39888f;
    border-bottom: 10px solid #39888f;
    border-right: 10px solid white;
    margin-bottom: 10%;
    
}
.cercle1 p
{
    text-align: center;
    align-content: center;
    margin-top: 40px;
}
.cercle2
{
    background:none;
    border-radius:50%;
    width:100px;
    height:100px;
    border-top: 10px solid #39888f;
    border-left: 10px solid #39888f;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    margin-bottom: 10%;
    
}
.cercle2 p
{
    text-align: center;
    align-content: center;
    margin-top: 40px;
}
@media only screen and (max-width: 480px)
{
    
  
  #haut
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
    }
    #hautgauche, #hautcentre, #hautdroit
    {
        width: 33%;
    }
    #cote
    {
        display: flex;
        flex-direction: column;
        border: none;
        margin-right: 2%;
        width: 100px;
        height: 150px;
        box-shadow: none;
        margin-left: -2%;
        position: fixed;
        top: 27%;
        left: 0%;
    }
    #cote a
    {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 0% ;
        text-decoration: none;
    }
    #hautgauche
    {
        display: flex;
        flex-direction: column;
        padding-top: 190%;
    }
    
    h4 
    {
        text-align: center;
    }
    .entreprise1
    {
        display: flex;
        flex-direction: column;
       
        height:  190px;
        width: 290px;
        
    }
    img
    {
        position: absolute;
        top: 0.5%;
        left: -5%;
    }
    #bas
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
    }
    #hautcentre p
    {
        position: absolute;
        top: 5%;
        left: -5%;
        
        
    }
    #coordonnees
    {
        display: flex;
        flex-direction:column ;
        border-bottom: white 2px solid;
       
        width: 230px;
       
        

    }
    #reseau
    {
        display: flex;
        flex-direction: row;
        margin-top: 20%;
        justify-content: space-around;
        margin-bottom: 5%;
        width: 250px;
    }
    #reseau a
    {
    
        color: white;
        margin-left: 0px;
        
    }
    #bas
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: white 5px 5px 15px 5px ;
       
    }
    #formation
    { 
        width: 280px;
    }
    #competences
    { 
        width: 280px;
    }
    #atouts
    { 
        width: 280px;
    }
    #hautgauche
    { 
        width: 280px;
    }
    #hautdroit
    { 
        width: 280px;
    }
    
    #test
    {
        display: flex;
        flex-direction: row;


    }
    #cercle
    {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    
    
    




}
@media only screen and (max-width: 1095px)
{
    body
    {
        background-color: pink;
    }
    #hautgauche
    {
        margin: auto;
    }
    #hautdroit
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #coordonnees
    {
        margin: auto;
    }
    .entreprise1
    {
        margin: auto;
    }

    #cote
  {

      width: 50px;
      height: 300px;
  }
    #cote a
  {
      margin-top: 100%
  }
  
  .entreprise1
  {
      margin-top: 20%;
  }
  #cercle
  {
      margin: auto;
  }
  
  li
  {
      margin-top: 3%;
      list-style-type: none;   
  }
  ul
  {
    padding-left: 0px;
    padding-top: 0px;
  }
  h3
  {
      text-align: center;
     

  }
  #atouts
  {
     
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;

  }
  #competences
  {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;
  }
  #formation
  {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;

  }


}
@media only screen and (max-width: 960px)
{
  #test1
  {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px)
{
    
  
  #haut
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 2%;
      box-shadow: white 5px 5px 15px 5px ;
  }
  
  #cote
  {
      display: flex;
      flex-direction: column;
      border: none;
      margin-right: 3%;
      width: 100px;
      height: 150px;
      box-shadow: none;
      margin-left: -3%;
      position: fixed;
      top: 27%;
      left: 0%;
  }
  #cote a
  {
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-top: 50% ;
      text-decoration: none;
  }
  #hautgauche
  {
      display: flex;
      flex-direction: column;
      padding-top: 80%;
  }
 
  h4 
  {
      text-align: center;
  }
  .entreprise1
  {
      display: flex;
      flex-direction: column;
      height:  190px;
      width: 510px;
      
  }
  img
  {
      position: absolute;
      top: 0.5%;
      left: -5%;
  }
  #bas
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 2%;
      box-shadow: white 5px 5px 15px 5px ;
  }
  #hautcentre p
  {
      position: absolute;
      top: 7%;
      left: -5%;
  }

  #coordonnees
  {
      display: flex;
      flex-direction:column ;
      border-bottom: white 2px solid;
      width: 440px;
      margin-left: 10%;
      
  }
  #reseau
  {
      display: flex;
      flex-direction: row;
      margin-top: 20%;
      justify-content: space-between;
      margin-left: 60%;
      margin-bottom: 5%;
      width: 250px;
      
  }
  #reseau a
  {
  
      color: white;
      
  }
  #bas
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 2%;
      box-shadow: white 5px 5px 15px 5px ;
      
     
  }
  #formation
  {
      
      width: 510px;
      
  }
  
  #cercle
  {
      display: flex;
      flex-direction: column;
      
      width: 510px;
      
  }
  #atouts
  {
   
    width: 510px;
  }
  #competences
  {
    
    width: 510px;
  }
}